<div
  class="menu__wrapper"
  [ngStyle]="{ zIndex: isActiveMenu ? 10 : 10 }"
  [ngClass]="{ active: isActiveMenu, 'not-active': !isActiveMenu }"
  [@slideInOutAnimation]="isActiveMenu ? 'in' : 'out'"
>
  <div class="menu__contacts">
    <ul class="menu__contacts-list">
      <li class="contacts__list-item">
        <a class="contacts__list-item--link"> +7 967 059 62 39 </a>
      </li>
      <li class="contacts__list-item">
        <a class="contacts__list-item--link"> Telegram </a>
      </li>
      <li class="contacts__list-item">
        <a class="contacts__list-item--link"> WhatsApp </a>
      </li>
    </ul>
  </div>
  <ul class="menu__contacts-list-routes">
    <li><a href="#">Главная</a></li>
    <li (click)="onSmoothScroll('projects')"><a>Проекты</a></li>
    <li><a routerLink="service" (click)="closeMenu()">Цены</a></li>
    <li><a (click)="onSmoothScroll('contacts')">Контакты</a></li>
    <li><a (click)="onSmoothScroll('techs')">Технологии</a></li>
  </ul>
  <div class="menu__btm-contacts">
    <ul class="btm__contacts">
      <li class="btm__contacts-items"><a>info@novikovstudio.ru</a></li>
      <li class="btm__contacts-items">
        Copyright &copy; {{ currentYear }} Novikov Studio
      </li>
    </ul>
  </div>
</div>
