.menu__wrapper {
  position: fixed;
  top: 90px;
  left: 0;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  overflow-y: scroll;
}
.menu__wrapper .active {
  z-index: 10;
}
.menu__contacts {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 20px;
  box-sizing: border-box;
  @media screen and (max-width: 968px) {
    margin-top: 120px;
  }

  & .menu__contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 24px;
    background-color: #1b1b1b;
    & .contacts__list-item {
      background: #0f0f0f;
      color: #d5ff40;
      font-family: "days-one";
      font-style: normal;
      font-weight: 600;
      display: flex;
      align-items: center;
      width: fit-content;
      max-width: 260px;
      height: 72px;
      border-radius: 30px;
      box-sizing: border-box;
      padding: 12px 24px;
      border: 1px solid #0f0f0f;
      box-shadow: 0.9px 1.3px 5.3px rgba(213, 255, 64, 0),
        2.9px 4.2px 17.9px rgba(213, 255, 64, 0),
        13px 19px 80px rgba(213, 255, 64, 0);
      transition: all 1s ease-in-out;
      & a {
        font-family: "days-one";
        font-weight: 300;
        font-size: 18px;
        line-height: 100%;

        color: #f55b4e;
        transition: all 0.3s ease-in-out;
        text-shadow: none;
        &:hover {
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          color: #d5ff40;
        }
      }
    }
  }
}
.btm__contacts {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  & li {
    font-family: "days-one";
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    text-shadow: none;
  }
  & a {
    font-family: "days-one";
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    color: #f55b4e;
    transition: all 0.3s ease-in-out;
    text-shadow: none;
    &:hover {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      color: #f55b4e;
    }
  }
}
.menu__contacts-list-routes {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  & .submenu {
  }
  & .submenu > li > a {
    font-size: 16px;
    padding: 5px;
    padding-inline-start: 100px;
  }
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      margin: 2px 0;
      padding: 10px 20px;
      text-decoration: none;
      color: #ffffff;
      font-family: "days-one";
      font-weight: 300;
      font-size: 42px;
      line-height: 100%;
      transition: 0.5s;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid rgba($color: #d5ff40, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: #d5ff40, $alpha: 0.2);
        transform: scaleY(1);
        opacity: 0;
        transition: 0.3s;
      }
      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1d1d1d;
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
      }
      &:hover {
        color: #d5ff40;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}
