<app-hero></app-hero>
<app-work-flow></app-work-flow>
<app-mockup-gallery></app-mockup-gallery>
<app-calculator
  [basePrice]="90000"
  [title]="'Интернет магазину'"
  [titleForm]="'Интернет магазина'"
  [fixedOptions]="ecomPageOptions"
  [optionsList]="ecomPageExtras"
></app-calculator>
<app-calculator
  [basePrice]="70000"
  [title]="'Лендингу'"
  [titleForm]="'Лендинга'"
  [fixedOptions]="landingPageOptions"
  [optionsList]="landingPageExtras"
>
  ></app-calculator
>
<app-vertical-slider></app-vertical-slider>
<app-counter></app-counter>
<app-portfolio></app-portfolio>
<app-services></app-services>
<app-marquee></app-marquee>
<app-team></app-team>
<app-contacts></app-contacts>
<app-footer></app-footer>
<app-service-types></app-service-types>
