<div class="test-hero__wrapper">
  <div class="test-hero">
    <h1 class="test-hero__title">
      Разработка <span class="highlighted">Лендингов </span>
    </h1>
    <h2 class="test-hero__subtitle">
      Берем дизайн и разработку посадочной страницы для вашего бизнеса на себя!
      Индивидуальный дизайн и максимум эффективности.
    </h2>
    <div class="test-hero__inner-wrapper">
      <div class="test-hero__item-xs">
        <img
          class="hero__item-img icon"
          src="assets/images/icons/experience.png"
        />
        <span class="highlighted">8 лет опыта в разработке</span>
      </div>
      <div class="test-hero__item-xs">
        <img
          class="hero__item-img icon"
          src="assets/images/icons/projects.png"
        />
        <span class="highlighted">100+ лендингов реализовано</span>
      </div>
      <div class="test-hero__item-xs">
        <img class="hero__item-img icon" src="assets/images/icons/team.png" />
        <span class="highlighted">80+ рекламных компаний запущено</span>
      </div>
    </div>
    <app-primary-button-big
      [label]="'Заказать разработку лендинга'"
    ></app-primary-button-big>
  </div>
</div>
<app-gallery-slider></app-gallery-slider>
