<div class="serviceTypes__wrapper">
  <div class="serviceTypes__title-wrapper">
    <div class="serviceTypes__title-header">
      наши <span class="highlighted"> услуги</span>
    </div>
  </div>
  <div class="serviceTypes__inner-wrapper">
    <div class="serviceTypes__item">
      <div class="serviceTypes__item-number">01</div>
      <div class="serviceTypes__title">
        Лендинг
        <app-primary-button-big
          [label]="'Обсудить проект'"
        ></app-primary-button-big>
      </div>
      <div class="serviceTypes__description">
        подойдет, если вам нужно развитие дизайна вашего продукта,
        дизайн-концепция или усиление выделенной командой дизайнеров
      </div>
      <div class="serviceTypes__price">
        от
        <span class="highlighted" style="font-size: 42px">500 000</span>
        руб.
      </div>
    </div>
    <div class="serviceTypes__steps">
      <ul>
        <li>аудит существующих систем и продуктов</li>
        <li>продуктовое исследование</li>
        <li>создание новой продуктовой концепции</li>
        <li>создание новой продуктовой концепции</li>
      </ul>
    </div>
  </div>
</div>
