.serviceTypes__title-header {
  font-family: "Jura";
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  /* or 80px */
  width: 100%;
  max-width: 1600px;
  text-align: right;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 120px;
}
