.serviceTypes__title-header {
  font-family: "days-one";
  font-weight: 300;
  font-size: 60px;
  line-height: 120%;
  /* or 80px */
  width: 100%;
  max-width: 1600px;
  text-align: right;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 120px;
}
.serviceTypes__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.serviceTypes__inner-wrapper {
  margin-bottom: 140px;
}
.serviceTypes__title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  width: 115%;
  max-width: 550px;
  font-size: 64px;
  line-height: 58%;
  /* identical to box height, or 64px */
  transition: all 0.2s ease-in-out;
  text-transform: lowercase;
  color: #ffffff;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 968px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-size: 32px;
    max-width: 700px;
  }
}
.serviceTypes__item-number {
  font-family: "days-one";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  color: #f55b4e;
}
.serviceTypes__description {
  font-family: "days-one";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 26px;
  color: #ffffff;
  max-width: 700px;
}
.serviceTypes__price {
  font-family: "days-one";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 26px;
  color: #ffffff;
}
.serviceTypes__steps {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  & ul {
    max-width: 720px;
    width: 100%;
    & li {
      text-align: right;
      font-family: "Jost";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 76px;
      color: #ffffff;
      border-bottom: 1px solid rgba($color: #d5ff40, $alpha: 0.5);
    }
  }
}
