.acc-header {
  min-height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.acc-item {
  border: 2px solid #f9f9f9;
  border-radius: 24px;
  padding: 16px 24px;
  margin-bottom: 12px;
}
.acc-number {
  font-size: 14px;
  border-radius: 50%;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  width: 100%;
  max-width: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid #8a8a8a;
  font-family: "days-one";
  font-style: normal;
}
.header__title {
  width: 100%;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 18px;
  color: #777777;
  font-family: "days-one";
  font-style: normal;
  font-weight: 400;
}

.body {
  padding-inline-start: 80px;
  font-family: "commissioner-2";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 15px;
}
.accordion__icon {
  width: 25px;
}
