<div class="counter__wrapper">
  <div class="counter">
    <div class="counter__card">
      <div class="counter-border"></div>
      <div class="counter__title">постоянных клиентов</div>
      <div class="counter__count">
        <ngx-animated-counter [params]="params1"></ngx-animated-counter
        ><span class="highlighted">+</span>
      </div>
    </div>
    <div class="counter__card">
      <div class="counter-border"></div>
      <div class="counter__title">проектов</div>
      <div class="counter__count">
        <ngx-animated-counter [params]="params2"></ngx-animated-counter
        ><span class="highlighted">+</span>
      </div>
    </div>
    <div class="counter__card">
      <div class="counter-border"></div>
      <div class="counter__title">отрицательных отзывов</div>
      <div class="counter__count">
        <ngx-animated-counter [params]="params3"></ngx-animated-counter>
      </div>
    </div>
    <div class="counter__card">
      <div class="counter-border"></div>
      <div class="counter__title">довольных клиентов</div>
      <div class="counter__count">
        <ngx-animated-counter [params]="params4"></ngx-animated-counter
        ><span class="highlighted">%</span>
      </div>
    </div>
  </div>
</div>
