<div class="test-hero__wrapper">
  <div class="test-hero">
    <div class="hero__image">
      <img src="assets/images/hero-image.png" />
    </div>
    <h1 class="test-hero__title">
      Разработка. <span class="highlighted">Дизайн. </span>Интернет-маркетинг.
    </h1>
    <h2 class="test-hero__subtitle">
      Занимаемся разработкой , пока вы занимаетесь бизнесом.
    </h2>
    <div class="test-hero__inner-wrapper">
      <div class="test-hero__item-lg">
        <img src="assets/images/hero-presentation.png" alt="" />
        Скачать презентацию
      </div>
      <div class="test-hero__item-xs">
        <img
          class="hero__item-img icon"
          src="assets/images/icons/experience.png"
        />
        <span class="highlighted">10 лет опыта в разработке</span>
      </div>
      <div class="test-hero__item-xs">
        <img
          class="hero__item-img icon"
          src="assets/images/icons/projects.png"
        />
        <span class="highlighted">100+ проектов реализовано</span>
      </div>
      <div class="test-hero__item-xs">
        <img class="hero__item-img icon" src="assets/images/icons/team.png" />
        <span class="highlighted">8+ человек в команде</span>
      </div>
    </div>
    <app-primary-button-big
      [label]="'Заказать разработку сайта'"
    ></app-primary-button-big>
  </div>
</div>
