.hero__wrapper {
  width: 100%;
  max-width: 1903px;
  margin: 0 auto;
}
.hero-top-section {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
.hero {
}

.hero__title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 150px;
  letter-spacing: -0.03em;
  color: #ffffff;
  width: 100%;
  max-width: 980px;
  margin-block-start: 150px !important;
  margin-block-end: 20px !important;
}
.animated-text-builder {
  font-weight: 100;
  color: #d5ff40;
  font-size: 200px;
  animation: blink 1s linear infinite;
  -webkit-text-fill-color: unset !important;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
.hero__image img {
  animation: bounce 2s infinite;
}

.hero__description-section {
  width: 100%;
  width: 670px;
  height: 705px;
  background: url("../../../../../assets/images/hero-bg-graphic.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 295px 40px 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  & .description__title {
    font-family: "Jura";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    /* or 117% */
    color: #ffffff;
    width: 100%;
    max-width: 325px;
  }
  & .description-subtitle {
    display: flex;
    flex-direction: row;
    & .description__inner-wrapper {
      display: flex;
      width: 100%;
      max-width: 160px;
      flex-wrap: nowrap;
      flex-direction: column;
      font-family: "Jura";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      /* or 125% */

      color: #8d8d8d;
    }
  }
}

.hero-bottom-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1650px;
  margin: 0 auto;
  gap: 50px;
  & .hero-service-slider {
    width: 100%;
    max-width: 700px;
    margin-top: 110px;

    & .hero-first-slide {
      background: linear-gradient(149.63deg, #5c009e 0%, #d5ff40 108.23%);
      border-radius: 25px;
      box-sizing: border-box;
      padding: 25px;
      min-height: 450px;
      position: relative;
      margin-bottom: 15px;
      & .first-slide-title {
        font-family: "Jost";
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.07em;
        color: #ffffff;
      }
      & .first-slide-text {
        font-family: "Jura";
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 26px;
        /* or 83% */
        margin-top: 130px;
        margin-bottom: 160px;
        color: #ffffff;
      }
      & .first-slide-mark {
        position: absolute;
        bottom: 10px;
        right: -5px;
      }
    }
    & .hero-second-slide {
      background: linear-gradient(
        150.15deg,
        #9c64a7 0%,
        #d1f743 38.87%,
        #b2b45c 64.88%,
        #9f5cb4 100%
      );
      border-radius: 25px;
      box-sizing: border-box;
      padding: 25px;
      min-height: 450px;
      position: relative;
      & .second-slide-title {
        font-family: "Jost";
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.07em;
        color: #000000;
      }
      & .second-slide-text {
        font-family: "Jura";
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 26px;
        /* or 83% */
        margin-top: 130px;
        margin-bottom: 160px;
        color: #000000;
        width: 250px;
      }
      & .second-slide-mark {
        position: absolute;
        bottom: 10px;
        right: -45px;
      }
    }
    & .hero-third-slide {
      background: linear-gradient(149.63deg, #d5ff40 0%, #5f059c 108.23%);
      border-radius: 25px;
      box-sizing: border-box;
      padding: 25px;
      min-height: 504px;
      position: relative;
      & .third-slide-title {
        font-family: "Jost";
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: -0.07em;
        color: #ffffff;
      }
      & .third-slide-text {
        font-family: "Jura";
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 26px;
        /* or 83% */
        margin-top: 130px;
        margin-bottom: 160px;
        color: #000000;
        width: 250px;
      }
      & .third-slide-mark {
        position: absolute;
        bottom: 10px;
        right: -45px;
      }
    }
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.typed__subtitle {
  color: #d5ff40;
  font-size: 40px;
  font-family: "Jura";
  font-style: normal;
  margin-top: 20px;
}
.hero-top-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
