<div class="hero__wrapper">
  <div class="hero">
    <div class="hero-top-section">
      <div class="title__wrapper">
        <h1 class="hero__title">
          NOVIKOV <span class="highlighted">STUDIO</span>
        </h1>
        <span
          class="typed__subtitle"
          typingAnimator
          [sentences]="listOfStrings"
          [deleteSpeed]="50"
          [showCursor]="true"
        ></span>
      </div>

      <div class="hero__image">
        <img src="assets/images/hero-image.png" />
      </div>
    </div>
    <div class="hero-bottom-section">
      <div class="hero__description-section">
        <h2 class="description__title">Студия дизайна и веб - разработки</h2>
        <div class="description-subtitle">
          <div class="img">
            <img src="assets/images/hero-desc-img.png" />
          </div>
          <div class="description__inner-wrapper">
            <span class="highlighted-pink">100+</span>
            Бизнесов стали нашими клиентами
          </div>
        </div>
        <app-primary-button></app-primary-button>
      </div>
    </div>
  </div>
</div>
