.hero__wrapper {
  width: 100%;
  max-width: 1903px;
  margin: 0 auto;
}
.hero-top-section {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
}
.hero {
}

.hero__title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 150px;
  letter-spacing: -0.03em;
  color: #ffffff;
  width: 100%;
  max-width: 980px;
  margin-block-start: 150px !important;
  margin-block-end: 20px !important;
}
.animated-text-builder {
  font-weight: 100;
  color: #d5ff40;
  font-size: 200px;
  animation: blink 1s linear infinite;
  -webkit-text-fill-color: unset !important;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
.hero__image img {
  animation: bounce 2s infinite;
}

.hero__description-section {
  width: 100%;
  max-width: 700px;
  height: 100%;
  background: url("../../../../../assets/images/hero-bg-graphic.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 230px 100px 200px 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  & .description__title {
    font-family: "Jura";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    /* or 117% */
    color: #ffffff;
    width: 100%;
    max-width: 325px;
  }
  & .description-subtitle {
    display: flex;
    flex-direction: row;
    & .description__inner-wrapper {
      display: flex;
      width: 100%;
      max-width: 160px;
      flex-wrap: nowrap;
      flex-direction: column;
      font-family: "Jura";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      /* or 125% */

      color: #8d8d8d;
    }
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.highlighted {
  color: #d5ff40;
}
.highlighted-pink {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #f55b4e;
}
.typed__subtitle {
  color: #d5ff40;
  font-size: 40px;
  font-family: "Jura";
  font-style: normal;
  margin-top: 20px;
}
.hero-top-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
