<div class="workflow__wrapper">
  <div class="workflow__title">
    Как мы будем работать с вами:
    <img src="assets/" />
  </div>
  <div class="accordion__module">
    <app-work-flow-item title="Глубокий анализ бизнеса" number="01" [id]="1">
      Перед началом работы мы детально изучаем вашу сферу деятельности, проводим
      анализ целевой аудитории и конкурентов. На основе полученных данных
      разрабатываем план, который поможет эффективно достичь ваших целей и
      выделить ваш бизнес на рынке.
    </app-work-flow-item>

    <app-work-flow-item title="Дизайн, который продает" number="02" [id]="2">
      Мы создаем дизайн, ориентированный на ваши задачи. Разрабатываем
      прототипы, тестируем пользовательский путь и создаем уникальные
      дизайн-макеты. Каждый проект отражает индивидуальность бренда и помогает
      повысить вовлеченность пользователей.
    </app-work-flow-item>

    <app-work-flow-item
      title="Профессиональная разработка"
      number="03"
      [id]="3"
    >
      Воплощаем дизайн в функциональный и адаптивный сайт. Мы применяем
      современные технологии, обеспечивающие высокую скорость загрузки,
      стабильную работу и качественную адаптацию под все устройства. Делаем
      стильно и функционально!
    </app-work-flow-item>

    <app-work-flow-item title="Запуск и поддержка" number="04" [id]="4">
      После запуска проекта есть возможность технической поддержки и регулярных
      обновлений. Мы готовы быть с вами на каждом этапе — от запуска до
      долгосрочного сопровождения — чтобы проект стабильно развивался и приносил
      результаты.
    </app-work-flow-item>
  </div>
</div>
