<div class="calc__wrapper">
  <div class="calc__content">
    <h2 class="highlighted calc__title">Максимально прозрачные рассчеты</h2>
    <p class="calc__subtitle">
      Вы можете добавить дополнительные услуги к вашему {{ title }}, а мы
      составим договор и приступим к работе.
    </p>
  </div>
  <div class="calculator-container">
    <div class="calculator">
      <div class="calc__options">
        <span class="highlighted">Дизайн и разработка {{ titleForm }}:</span>
        <span class="base__price">{{ basePrice | numberFormat }} руб.</span>
        <ul class="calc__description">
          <li *ngFor="let option of fixedOptions">{{ option }}</li>
        </ul>
      </div>
      <div class="calc__adds">
        <div *ngFor="let option of optionsList" class="calc__option">
          <div class="calc__inner-wrapper">
            <label class="custom-checkbox">
              <input
                type="checkbox"
                [checked]="option.selected"
                (change)="option.selected = !option.selected; updatePrice()"
              />
              <span class="checkbox-text">{{ option.name }}</span>
            </label>
          </div>

          <div class="add__price">+{{ option.price | numberFormat }} руб.</div>
        </div>
      </div>

      <!-- Форма с полем телефона -->
      <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()" class="calc__form">
        <div class="calc__phone-input">
          <input
            type="tel"
            id="phone"
            formControlName="phone"
            appPhoneMask
            placeholder="Номер телефона"
            class="calc__phone-field"
          />
          <div
            *ngIf="
              phoneForm.get('phone')?.invalid && phoneForm.get('phone')?.touched
            "
            class="calc__phone-error"
          >
            <div *ngIf="phoneForm.get('phone')?.hasError('required')">
              Телефон обязателен
            </div>
            <div *ngIf="phoneForm.get('phone')?.hasError('invalidPhone')">
              {{ phoneForm.get('phone')?.errors?.['invalidPhone']?.message }}
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="calc__button"
          [disabled]="!phoneForm.valid || isSubmitting"
        >
          {{ isSubmitting ? "Отправляем..." : "Разработать сайт" }}
          <span class="total__price">{{ totalPrice | numberFormat }} руб.</span>
        </button>

        <div class="calc__privacy-wrapper">
          <label class="calc__privacy-checkbox">
            <input
              type="checkbox"
              formControlName="privacyConsent"
              class="calc__checkbox-input"
            />
            <span class="calc__checkbox-custom"></span>
          </label>
          <p class="calc__privacy-text">
            Нажимая на кнопку я даю согласие на обработку персональных данных и
            соглашаюсь с политикой конфиденциальности
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
