.panel {
  height: 400px;
  margin: 0 auto;
  background: #eee;
}

.card-2 {
  height: 400px;
  margin: 0 auto;
  background: #fff;
}
.panel-1 {
  background: lightcoral;
  z-index: 3;
}
.panel-2 {
  background: lightseagreen;
  z-index: 2;
}
.panel-3 {
  background: lightblue;
  z-index: 1;
}
