.portfolio__wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 160px;
  & a {
    text-decoration: none;
    border-top: 0.5px solid #ffffff;
    box-sizing: border-box;
    padding-top: 40px;
  }
  & .portfolio__title-header {
    font-family: "Jura";
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    /* or 80px */
    width: 100%;
    max-width: 1600px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    & .porfolio__title-icon {
    }
  }
  & .portfolio__subtitle {
    font-family: "Jost";
    font-weight: 100;

    font-size: 32px;
    line-height: 100%;
    text-align: right;
    color: white;
    max-width: 800px;
    margin-left: auto;
    margin-bottom: 120px;
    /* or 80px */
  }
  & .portfolio {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /*Styles With Viewport*/
    & .inViewport {
      & .portfolio__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        gap: 50px;
        overflow-x: hidden;
        transition: all 0.2s ease-in-out;
        & .portfolio__title {
          transition: all 0.2s ease-in-out;
          background: linear-gradient(
            -90deg,
            #d5ff40 0%,
            #d5ff40 30%,
            #f55b4e 70%,
            #f55b4e 100%
          );
          background-size: 150% 150%;
          animation: gradient 10s ease infinite;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          letter-spacing: -0.0569em;
          @keyframes gradient {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 20%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
        }
        & .portfolio__image {
          transform: translateX(0px);
        }
      }
    }
    /*Styles Without Viewport*/
    & .portfolio__item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 1600px;
      margin: 0 auto;
      gap: 50px;
      overflow-x: hidden;
      transition: all 0.2s ease-in-out;
      & .portfolio__image img {
        transition: all 0.2s ease-in-out;
        opacity: 0;
      }
      & .portfolio__image {
        transition: all 0.2s ease-in-out;
        opacity: 0;
      }
      &:hover {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }

      &:hover .portfolio__title {
        transition: all 0.2s ease-in-out;
        background: linear-gradient(
          -90deg,
          #d5ff40 0%,
          #d5ff40 30%,
          #f55b4e 70%,
          #f55b4e 100%
        );
        background-size: 150% 150%;
        animation: gradient 10s ease infinite;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        letter-spacing: -0.0569em;
        @keyframes gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 20%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }
      & .portfolio__image {
        max-width: 560px;
        width: 100%;
        min-height: 315px;
        background: linear-gradient(-45deg, #d5ff40, #8b67f3, #f66050);
        background-size: 400% 400%;
        animation: gradient 7s ease infinite;
        transition: all 2.2 ease-in-out;
        transform: translateX(560px);
        opacity: 1;
        & img {
          width: 100%;
          max-width: 560px;
          max-height: 315px;
          transition: all 0.2s ease-in-out;
          opacity: 1;
        }
      }
      &:hover .portfolio__image {
        transition: all 0.2s ease-in-out;
        transform: translateX(0px);
      }
      &:hover .portfolio__image img {
        transition: all 0.2s ease-in-out;
      }
      & .item__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        // & .portfolio__border {
        //   height: 2px;
        //   background: #ffffff;
        //   border-radius: 25px;
        //   width: 145%;
        //   max-width: 1116px;
        // }
        & .portfolio__title {
          width: 100%;
          max-width: 1403px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 64px;
          line-height: 100%;
          /* identical to box height, or 64px */
          transition: all 0.2s ease-in-out;
          text-transform: lowercase;

          color: #ffffff;
          gap: 40px;
          & .title-logo {
          }
        }
        & .portfolio__description {
          font-family: "Jost";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          /* identical to box height, or 100% */

          text-align: right;
          text-transform: lowercase;

          color: #ffffff;
        }
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 50%;
  }
}
