<div class="portfolio__wrapper">
  <div class="portfolio__title-wrapper">
    <div class="portfolio__title-header">
      проекты , которыми <br /><span class="highlighted"> мы гордимся</span>
    </div>
  </div>

  <div class="portfolio">
    <a href="https://google.ru" target="_blank">
      <div class="portfolio__item">
        <div class="item__inner-wrapper">
          <div class="portfolio__border"></div>
          <h3 class="portfolio__title">
            <img class="title-logo" src="assets/images/icons/logo-icon.png" />
            VNUKOVO PREMIUM OUTLET
          </h3>
          <div class="portfolio__description">
            КОРПОРАТИВНЫЙ САЙТ САМОГО ПОСЕЩАЕМОГО АУТЛЕТА
          </div>
          <app-primary-button-big
            [label]="'Смотреть сайт'"
          ></app-primary-button-big>
        </div>
        <div class="portfolio__image">
          <video loop autoplay>
            <source src="assets/video/test.webm" type="video/webm" />
          </video>
        </div>
      </div>
    </a>
    <a href="https://google.ru" target="_blank">
      <div class="portfolio__item">
        <div class="item__inner-wrapper">
          <div class="portfolio__border"></div>
          <h3 class="portfolio__title">
            <img class="title-logo" src="assets/images/icons/logo-icon.png" />
            VNUKOVO PREMIUM OUTLET
          </h3>
          <div class="portfolio__description">
            КОРПОРАТИВНЫЙ САЙТ САМОГО ПОСЕЩАЕМОГО АУТЛЕТА
          </div>
          <app-primary-button-big
            [label]="'Смотреть сайт'"
          ></app-primary-button-big>
        </div>
        <div class="portfolio__image">
          <video loop autoplay>
            <source src="assets/video/test.webm" type="video/webm" />
          </video>
        </div>
      </div>
    </a>
  </div>
</div>
