<div class="portfolio__wrapper" id="projects">
  <div class="portfolio__title-wrapper">
    <div class="portfolio__title-header">
      Проекты, которыми <br /><span class="highlighted"> мы гордимся</span>
    </div>
    <div class="portfolio__subtitle">
      Мы заботимся о каждой детали, чтобы создать продукт, который соответствует
      всем требованиям
    </div>
  </div>

  <div class="portfolio">
    <a
      href="{{ portfolioItem.link }}"
      target="_blank"
      *ngFor="let portfolioItem of portfolio"
      inViewport
    >
      <div class="portfolio__item">
        <div class="item__inner-wrapper">
          <div class="portfolio__border"></div>
          <h3 class="portfolio__title">
            <img class="title-logo" src="assets/images/logo.svg" />
            {{ portfolioItem.title }}
          </h3>
          <div class="portfolio__description">
            {{ portfolioItem.description }}
          </div>
          <app-primary-button-big
            [label]="'Смотреть кейс'"
          ></app-primary-button-big>
        </div>
        <div class="portfolio__image">
          <img src="{{ portfolioItem.imgUrl }}" />
        </div>
      </div>
    </a>
  </div>
</div>
