.service-hero {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 7%;
  margin-bottom: 80px;
  & .service__hero-title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 70px;
    letter-spacing: -0.05em;
    color: #ffffff;
    max-width: 1200px;
    margin-bottom: 15px;
    @media screen and (max-width: 968px) {
      font-size: 64px;
      line-height: 40px;
    }
  }
  & .service__hero-subtitle {
    font-family: "Jura";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    text-align: right;
    letter-spacing: -0.05em;
    color: #ffffff;
    max-width: 600px;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }
}
.pink {
  color: #f55b4e;
}
