.swiper-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background-color: #f8f8f8;
  color: #333;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #333;
}

.team__wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 160px;

  & .team {
    & .team__heading-title {
      font-family: "Jura";
      font-weight: 300;
      font-size: 42px;
      line-height: 100%;
      /* or 80px */
      width: 100%;
      max-width: 1600px;
      text-align: right;
      letter-spacing: 1px;
      text-transform: lowercase;
      margin: 0 auto;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    & .team__content {
      & .team__image {
        opacity: 0.8;
      }
      & .team__title {
        font-family: "Jost";
        font-weight: 100;

        font-size: 32px;
        line-height: 100%;
        text-align: left;
        color: white;
        max-width: 600px;
        margin-right: auto;
        margin-bottom: 120px;
        margin-top: 40px;
        /* or 80px */
      }
    }
  }
}
