.team__wrapper:hover svg {
  stroke-dashoffset: 0;
  animation-play-state: running;
}

@keyframes draw-hover {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.team__wrapper {
  width: 100%;
  position: relative;
  width: 100%;
  max-width: 1400px;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 80px;
  background-color: #1b1b1b;
  // background: linear-gradient(
  //     45deg,
  //     #1b1b1b,
  //     #1b1b1b,
  //     #1b1b1b,
  //     #1b1b1b,
  //     #01c3a8
  //   )
  //   border-box;
  margin: 0 auto;
  & .team {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    margin-top: 160px;
    & .team__heading-title {
      font-family: "days-one";
      font-weight: 300;
      font-size: 42px;
      line-height: 90%;
      /* or 80px */
      width: 100%;
      max-width: 1600px;
      text-align: right;
      letter-spacing: 1px;
      margin: 0 auto;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 40px;
      align-items: flex-end;
    }
    & .team__content {
      & .team__image {
        opacity: 1;
        @media (max-width: 428px) {
          width: 100%;
          max-width: 320px;
          margin: 0 auto;
        }
      }
      & .team__title {
        font-family: "commissioner-2";
        font-weight: 100;
        font-size: 32px;
        line-height: 100%;
        text-align: left;
        color: white;
        max-width: 600px;
        margin-right: auto;
        margin-bottom: 120px;
        margin-top: 40px;
        /* or 80px */
      }
    }
  }
}
svg {
  position: absolute;
  top: 0;
  left: 2%;
  z-index: 1;
  width: 96%;
  height: 100%;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 2s ease forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
