<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="team__wrapper">
  <div class="team">
    <div class="team__content">
      <img class="team__image" src="assets/images/team.png" />
      <h2 class="team__title">
        За каждым <span class="highlighted">успешным</span> проектом стоит
        профессиональная команда. С заботой о
        <span class="highlighted">Вашем</span> бизнесе
      </h2>
    </div>
    <div class="team__heading-title">
      Команда профессионалов <span class="highlighted">с 7+ лет опыта</span> в
      дизайне, разработке и аналитике
    </div>
  </div>
  <app-primary-button-big
    [label]="'Написать нам'"
    appDialog
  ></app-primary-button-big>
</div>
