.team__wrapper:hover svg {
  stroke-dashoffset: 0;
  animation-play-state: running;
}

@keyframes draw-hover {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.team__wrapper {
  width: 100%;
  position: relative;

  & .team {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 160px;
    & .team__heading-title {
      font-family: "Jura";
      font-weight: 300;
      font-size: 42px;
      line-height: 100%;
      /* or 80px */
      width: 100%;
      max-width: 1600px;
      text-align: right;
      letter-spacing: 1px;
      text-transform: lowercase;
      margin: 0 auto;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    & .team__content {
      & .team__image {
        opacity: 0.8;
      }
      & .team__title {
        font-family: "Jost";
        font-weight: 100;

        font-size: 32px;
        line-height: 100%;
        text-align: left;
        color: white;
        max-width: 600px;
        margin-right: auto;
        margin-bottom: 120px;
        margin-top: 40px;
        /* or 80px */
      }
    }
  }
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 2s ease forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
