<div class="team__wrapper">
  <div class="team">
    <div class="team__content">
      <img class="team__image" src="assets/images/team.png" />
      <h2 class="team__title">
        За каждым <span class="highlighted">успешным</span> проектом стоит
        профессиональная команда. С заботой о
        <span class="highlighted">Вашем</span> бизнесе
      </h2>
    </div>
    <svg
      _ngcontent-tjr-c28=""
      bdtSvgDrawStroke=""
      width="850"
      height="206"
      viewBox="0 0 850 206"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M299.175 82.897C664.197-22.49 319.645-19.185 30.993 59.737c-51.34 14.036-78.064 60.684 311.515 54.002 560.074-9.607 462.987 20.77 432.978 30.117-169.18 49.014-29.579 61.099 72.514 60.087"
        stroke="#f55b4e"
        stroke-width="0.1"
        stroke-linecap="round"
        stroke-linejoin="round"
        style="stroke-dasharray: 1736; stroke-dashoffset: 0"
      ></path>
    </svg>
    <div class="team__heading-title">
      Команда профессионалов <span class="highlighted">с 10+ лет опыта</span> в
      дизайне, разработке и аналитике
    </div>
  </div>
  <app-primary-button-big
    [label]="'Написать нам'"
    appDialog
  ></app-primary-button-big>
</div>
