.primary-button-big {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #f9f9f9;
  border-radius: 32px;
  background: rgba($color: #000000, $alpha: 0);
  font-family: "days-one";
  font-style: normal;
  font-weight: 400;
  padding: 12px 32px;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #dadada;
  transition: all 0.2s ease-out;
  & img {
    transition: all 0.2s ease-out;
    transform: rotate(0deg);
  }
  &:hover img {
    transition: all 0.2s ease-out;
    transform: translate(40%, 0%) rotate(-45deg);
  }
  &:hover {
    transition: all 0.2s ease-out;
    border: 2px solid #d5ff40;
    cursor: pointer;
    color: #d5ff40;
  }
}
