.timeline__wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 140px;
  & .timeline__title {
    font-size: 32px;
    color: #ffffff;
    font-family: "days-one";
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
  }
  & .timeline__subtitle {
    font-size: 24px;
    color: #ffffff;
    font-family: "commissioner-2";
    font-weight: 100;
    text-align: left;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.timeline {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.timeline-step {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-width: 140px;
  text-align: center;
  & .step-01 {
    position: relative;
    left: -95px;
  }
  & .step-03 {
    position: relative;
  }
  & .step-04 {
    position: relative;
    left: -85px;
  }
  & .step-05 {
    position: absolute;
    left: 335px;
    bottom: 0;
  }
  & .step-06 {
    position: absolute;
    left: 0px;
    bottom: 0;
  }
  & .step-08 {
    position: relative;
    right: -130px;
  }
  & .step-09 {
    position: relative;
    right: -45px;
  }
}
.splitter {
  height: 30px;
  width: 2px;
  background: #f55b4e;
}
.timeline-label {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #fff;
  margin: 6px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.timeline-box {
  background: #f55b4e;
  padding: 32px;
  border-radius: 20px;
  white-space: nowrap;
  font-size: 32px;
  color: #ffffff;
  max-width: 800px;
  font-family: "days-one";
  letter-spacing: -1px;
  font-style: normal;
  font-weight: 600;
}
.p-68 {
  padding: 32px 62px;
}
.p-128 {
  padding: 32px 124px;
}
@media (max-width: 768px) {
}
