<div class="timeline__wrapper">
  <div class="timeline__title highlighted">Процесс разработки</div>
  <div class="timeline__subtitle">
    Максимально линейная структура работы для Вашего удобства!
  </div>
  <div class="timeline">
    <div class="timeline-step">
      <img src="assets/images/annotation01.svg" alt="" class="step-01" />
      <div class="timeline-box p-68">Брифинг</div>
      <img src="assets/images/annotation02.svg" alt="" class="step-02" />
    </div>
    <div class="timeline-step">
      <img src="assets/images/annotation03.svg" alt="" class="step-03" />
      <div class="timeline-box p-128">Разработка</div>
      <img src="assets/images/annotation04.svg" alt="" class="step-04" />
      <img src="assets/images/annotation05.svg" alt="" class="step-05" />
    </div>
    <div class="timeline-step">
      <img src="assets/images/annotation08.svg" alt="" class="step-08" />
      <div class="timeline-box p-68">Тестирование</div>
      <img src="assets/images/annotation06.svg" alt="" class="step-06" />
      <img src="assets/images/annotation07.svg" alt="" class="step-07" />
    </div>
    <div class="timeline-step">
      <div class="timeline-box p-68">Запуск</div>
      <img src="assets/images/annotation09.svg" alt="" class="step-09" />
    </div>
  </div>
</div>
