<div class="test-hero__wrapper">
  <div class="test-hero">
    <h1 class="test-hero__title">
      <span class="highlighted">Индивидуальная разработка</span> на
      React/Angular
    </h1>
    <h2 class="test-hero__subtitle">
      Создаем уникальные веб-приложения и сайты под ваши специфические
      требования. Полный цикл разработки от идеи до запуска с использованием
      современных технологий.
    </h2>
    <div class="test-hero__inner-wrapper">
      <div class="test-hero__item-xs">
        <img
          class="hero__item-img icon"
          src="assets/images/icons/experience.png"
        />
        <span class="highlighted">8 лет опыта в разработке</span>
      </div>
      <div class="test-hero__item-xs">
        <img
          class="hero__item-img icon"
          src="assets/images/icons/projects.png"
        />
        <span class="highlighted">200+ кастомных проектов</span>
      </div>
      <div class="test-hero__item-xs">
        <img class="hero__item-img icon" src="assets/images/icons/team.png" />
        <span class="highlighted">React, Angular, Vue экспертиза</span>
      </div>
    </div>
    <app-primary-button-big
      [label]="'Заказать индивидуальную разработку'"
    ></app-primary-button-big>
  </div>
</div>

<!-- SEO блок с подробной информацией об услуге -->
<app-seo-service-info
  [serviceData]="developmentServiceData"
></app-seo-service-info>

<app-gallery-slider></app-gallery-slider>
<app-timeline></app-timeline>
<app-calculator
  [basePrice]="120000"
  [title]="'Проекту'"
  [titleForm]="'Проекта'"
  [fixedOptions]="developmentPageOptions"
  [optionsList]="developmentPageExtras"
>
</app-calculator>
<app-marquee></app-marquee>
<app-team></app-team>
<app-contacts></app-contacts>
