//Fonts//
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap");
@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Ultralight.eot");
  src: local("Neue Machina Ultralight"), local("NeueMachina-Ultralight"),
    url("assets/fonts/NeueMachina-Ultralight.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/NeueMachina-Ultralight.woff2") format("woff2"),
    url("assets/fonts/NeueMachina-Ultralight.woff") format("woff"),
    url("assets/fonts/NeueMachina-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Light.eot");
  src: local("assets/fonts/Neue Machina Light"), local("NeueMachina-Light"),
    url("assets/fonts/NeueMachina-Light.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/NeueMachina-Light.woff2") format("woff2"),
    url("assets/fonts/NeueMachina-Light.woff") format("woff"),
    url("assets/fonts/NeueMachina-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Black.eot");
  src: local("Neue Machina Black"), local("NeueMachina-Black"),
    url("assets/fonts/NeueMachina-Black.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/NeueMachina-Black.woff2") format("woff2"),
    url("assets/fonts/NeueMachina-Black.woff") format("woff"),
    url("assets/fonts/NeueMachina-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Regular.eot");
  src: local("Neue Machina Regular"), local("NeueMachina-Regular"),
    url("assets/fonts/NeueMachina-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/NeueMachina-Regular.woff2") format("woff2"),
    url("assets/fonts/NeueMachina-Regular.woff") format("woff"),
    url("assets/fonts/NeueMachina-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Bold.eot");
  src: local("Neue Machina Bold"), local("NeueMachina-Bold"),
    url("assets/fonts/NeueMachina-Bold.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/NeueMachina-Bold.woff2") format("woff2"),
    url("assets/fonts/NeueMachina-Bold.woff") format("woff"),
    url("assets/fonts/NeueMachina-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Medium.eot");
  src: local("Neue Machina Medium"), local("NeueMachina-Medium"),
    url("assets/fonts/NeueMachina-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/NeueMachina-Medium.woff2") format("woff2"),
    url("assets/fonts/NeueMachina-Medium.woff") format("woff"),
    url("assets/fonts/NeueMachina-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Ultrabold.eot");
  src: local("Neue Machina Ultrabold"), local("NeueMachina-Ultrabold"),
    url("assets/fonts/NeueMachina-Ultrabold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/NeueMachina-Ultrabold.woff2") format("woff2"),
    url("assets/fonts/NeueMachina-Ultrabold.woff") format("woff"),
    url("assets/fonts/NeueMachina-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0;
  background: #0f0f0f;
  box-sizing: border-box;
  padding: 10px 10px;
  overflow-y: scroll;
  cursor: url("assets/images/icons/cursor.cur"), auto;
}
.typed-cursor {
  color: #f9f9f9 !important;
  font-size: 40px;
}
html,
body {
  height: 100%;
}
canvas {
  display: block;
}
//Swiper inset color
// .swiper-slide-next .hero-second-slide {
//   box-shadow: inset 0px 5px 10px 1px #f24342;
// }
// .swiper-slide-next .hero-third-slide {
//   box-shadow: inset 0px 5px 10px 1px #f24342;
// }
// .swiper-slide-next .hero-first-slide {
//   box-shadow: inset 0px 5px 10px 1px #f24342;
// }
.swiper {
  box-shadow: 60px 0px 25px -30px rgba(15, 15, 15, 1) inset;
}
.highlighted {
  color: #d5ff40;
  letter-spacing: -0.0369em;
}
.highlighted-pink {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #f55b4e;
}
.highlighted-purple {
  color: #5f059c;
}
.number {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #000000;
}
.dot-icon {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #5f059c;
}

/*page transition styles*/
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.page-leave {
  opacity: 1;
}

.page-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
