$color-bg: black;
$color: #d5ff40;
$size: 20px;
$dur: 1s;

// display: flex
.df {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }
}

main {
  height: 100%;
  width: 100%;
}
.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 100;
  opacity: 1;
  transition: all 3s ease-in-out;
}
.loader {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
}
.loader-text {
  font-size: 20px;
  text-transform: uppercase;
  color: aliceblue;
  text-align: center;
  font-family: "Jura", sans-serif;
  margin-top: 10px;
}
//
.hex {
  &.down {
    transform: rotate(180deg);
  }

  .top {
    height: 0;
    width: 0;
    margin: 0 (-$size / 2);
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: ($size * 1.8) solid $color;
    filter: drop-shadow(0 0 ($size * 1.6) $color);
    animation: $dur blink infinite;
  }

  @for $i from 1 through 11 {
    &:nth-child(#{$i}) .top {
      animation-delay: -($dur / 11) * $i;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.hide {
  opacity: 0 !important;
  z-index: -1 !important;
  transition: all 0.5s ease-in-out;
}

$speed: 2.5s;
.loader-bg {
}
.loader {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 175px;
  height: 100px;
  span {
    display: block;
    background: #f55b4e;
    width: 7px;
    height: 10%;
    border-radius: 14px;
    margin-right: 5px;
    float: left;
    margin-top: 25%;
    &:last-child {
      margin-right: 0px;
    }
    &:nth-child(1) {
      animation: load $speed 1.4s infinite linear;
    }
    &:nth-child(2) {
      animation: load $speed 1.2s infinite linear;
    }
    &:nth-child(3) {
      animation: load $speed 1s infinite linear;
    }
    &:nth-child(4) {
      animation: load $speed 0.8s infinite linear;
    }
    &:nth-child(5) {
      animation: load $speed 0.6s infinite linear;
    }
    &:nth-child(6) {
      animation: load $speed 0.4s infinite linear;
    }
    &:nth-child(7) {
      animation: load $speed 0.2s infinite linear;
    }
    &:nth-child(8) {
      animation: load $speed 0s infinite linear;
    }
    &:nth-child(9) {
      animation: load $speed 0.2s infinite linear;
    }
    &:nth-child(10) {
      animation: load $speed 0.4s infinite linear;
    }
    &:nth-child(11) {
      animation: load $speed 0.6s infinite linear;
    }
    &:nth-child(12) {
      animation: load $speed 0.8s infinite linear;
    }
    &:nth-child(13) {
      animation: load $speed 1s infinite linear;
    }
    &:nth-child(14) {
      animation: load $speed 1.2s infinite linear;
    }
    &:nth-child(15) {
      animation: load $speed 1.4s infinite linear;
    }
  }
}

@keyframes load {
  0% {
    background: #d5ff40;
    margin-top: 25%;
    height: 10%;
  }
  50% {
    background: #252525;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: #d5ff40;
    height: 10%;
    margin-top: 25%;
  }
}
