/* =======================================
The juicy stuff
======================================= */
.marquee {
  display: flex;
  overflow: hidden;
  justify-content: center;
  gap: 1rem;
  font-size: 64px;
  line-height: 64px;
  color: azure;
  font-family: "days-one";
  font-style: normal;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 60px;
}
.marquee h1 {
  font-size: 4rem;
  white-space: nowrap;
  text-transform: uppercase;
  align-self: center;
}
