/* =======================================
The juicy stuff
======================================= */
.marquee {
  display: flex;
  overflow: hidden;
  gap: 1rem;
  font-size: 44px;
  line-height: 44px;
  color: azure;
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 60px;
}
.marquee h1 {
  font-size: 4rem;
  white-space: nowrap;
  text-transform: uppercase;
  align-self: center;
}
